<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/stylesheet.css">
   
</head>
<body>
    <div class="container">

        <div class="header" style="border-bottom: 1px solid black;">
            <%- include ('templates/header.ejs') %>
        </div>
        <div class="header-r" style="border-bottom: 1px solid black;">
            <%- include ('templates/header_r.ejs') %>
        </div>

        <a style="padding: 10px;">Success</a>
    </div>
</body>
</html>