<div class='bar'>
    View Report
</div>
<br>
<a href="/ride_frequency">Ride Frequency</a></br></br>
<a href="/rainouts">Rainouts</a></br></br>

<div class='bar'>Add Report</div>
<br>
<a href="/report_admission">Daily Admission</a></br></br>
<a href="/report_ridden_ride">Rides</a></br></br>
<a href="/report_maintenance">Maintenance</a></br></br>
<a href="/report_rainout">Rainouts </a>